*{
    background-color: rgb(36, 16, 151);
}
body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;scrollbar-width: ;
}

button {
    padding: 10px 20px;
    font-size: 18px;
    background-color: #0a65c7;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #bcce21;
}

p {
    font-size: 24px;
    margin-top: 20px;
}
